[Unit]
Description=Key-scanner

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=sh /etc/start.sh
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
